---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Post from '../components/index/Post.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import { getCollection } from 'astro:content';

const latestPosts = (await getCollection('post'))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 3);
---

<!doctype html>
<html lang="ja">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <div class="intro">
        <p>個人の記録を残すサイトです。</p>
        <p>なんか考えたこととか触れたコンテンツとかについて、書きたくなったら書きます。</p>
      </div>
      <h2>直近の記事</h2>
      <ul>
        {latestPosts.map((post) => <Post post={post} />)}
      </ul>
      <a href="/post">その他の記事を読む</a>
    </main>
    <Footer />
  </body>
</html>

<style>
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .intro {
    margin: 0 auto 4em auto;
    padding: 1em;
    color: rgb(var(--gray-dark));
    line-height: 1.6;
  }
</style>
