---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Content from '../components/index/Content.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import { getBlogs } from '../library/microcms';

const baseParams = {
  fields: ['id', 'title', 'publishedAt', 'heroImage', 'tag'],
  limit: 3,
  orders: '-publishedAt',
};
const postRes = await getBlogs({ ...baseParams, filters: 'category[contains]post' });
const latestBlogs = postRes.contents;

const impressionRes = await getBlogs({ ...baseParams, filters: 'category[contains]impression' });
const latestImpressions = impressionRes.contents;
---

<!doctype html>
<html lang="ja">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <div class="intro">
        <p>個人の記録を残すサイトです。</p>
        <p>なんか考えたこととか触れたコンテンツとかについて、書きたくなったら書きます。</p>
      </div>
      <div class="latest-posts">
        <h2>直近の記事</h2>
        <ul>
          {latestBlogs.map((post) => <Content content={post} />)}
        </ul>
        <a href="/post">その他の記事を読む</a>
      </div>
      <div class="latest-impressions">
        <h2>直近の感想</h2>
        <ul>
          {latestImpressions.map((impression) => <Content content={impression} />)}
        </ul>
        <a href="/impression">その他の感想を読む</a>
      </div>
    </main>
    <Footer />
  </body>
</html>

<style>
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .intro {
    margin: 0 auto 4em auto;
    padding: 1em;
    color: rgb(var(--gray-dark));
    line-height: 1.6;
  }
  .latest-posts,
  .latest-impressions {
    margin-bottom: 4em;
  }
</style>
