---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="ja">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <div class="intro">
        <p>個人の記録を残すサイトです。</p>
        <p>なんか考えたこととか触れたコンテンツとかについて、書きたくなったら書きます。</p>
      </div>
      <ul>
      </ul>
    </main>
    <Footer />
  </body>
</html>

<style>
  .intro {
    margin: 0 auto 4em auto;
    padding: 1em;
    color: rgb(var(--gray-dark));
    line-height: 1.6;
  }
</style>
