---
import PreviewContent from '../components/PreviewContent.tsx';
import BlogLayout from '../layouts/BlogLayout.astro';
import 'highlight.js/styles/github-dark.css';
---

<BlogLayout pageTitle="プレビュー">
  <div class="blog-content">
    <PreviewContent client:only="preact" />
  </div>
</BlogLayout>
